name: Rebuild & push images
on:
  push:
    branches:
      - main
      - stable
  workflow_dispatch:
  schedule:
    - cron: "0 0 10 * *"

jobs:
  build-n-push:
    # To not run in forks
    if: github.repository_owner == 'packit'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            image: sandcastle

    steps:
      - uses: actions/checkout@v3

      - name: Extract branch name and set tag when triggered via push
        if: "!github.event.schedule"
        shell: bash
        run: |
          branch=${GITHUB_REF#refs/heads/}
          tag=""
          case $branch in
              main)
                  tag="stg latest"
                  ;;
              stable)
                  tag="prod"
                  ;;
          esac
          unique_tag="${branch}-${GITHUB_SHA::7}"

          echo "branch=${branch}" >> $GITHUB_OUTPUT
          echo "tag=${tag} ${unique_tag}" >> $GITHUB_OUTPUT

        id: branch_tag_push

      - name: Extract branch name and set tags when triggered via schedule
        if: github.event.schedule
        shell: bash
        run: |
          # Do not rely on hard-coded `main`
          branch=${GITHUB_REF#refs/heads/}

          # Set all tags during periodic rebuild
          tag="prod stg latest"
          unique_tag="${branch}-${GITHUB_SHA::7}"

          # Propagate changes to outputs
          echo "branch=${branch}" >> $GITHUB_OUTPUT
          echo "tag=${tag} ${unique_tag}" >> $GITHUB_OUTPUT

        id: branch_tag_schedule

      - name: Build Image
        id: build-image
        # https://github.com/marketplace/actions/buildah-build
        uses: redhat-actions/buildah-build@v2
        with:
          dockerfiles: ${{ matrix.dockerfile }}
          image: ${{ matrix.image }}
          tags: ${{ steps.branch_tag.outputs.tag }}
          oci: true

      - name: Push To Quay
        # https://github.com/marketplace/actions/push-to-registry
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/packit
          username: ${{ secrets.QUAY_IMAGE_BUILDER_USERNAME }}
          password: ${{ secrets.QUAY_IMAGE_BUILDER_TOKEN }}
